.carouselContainer {
  position: relative;
  height: 555px;
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.animating {
  transition: transform 0.5s ease-out;
}

.carouselImage {
  height: 555px;
  width: 100%;
}

.carouselControls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.carouselIndicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}